{% extends "base.html" %}
{% load i18n  %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.lightbox-0.5.js">
</script>
<script type="text/javascript">
(function($) {
  $(function() {
    $('.thumbnails').each(function(){
        $("#"+this.id + " a").lightBox({fixedNavigation:true,
                                imageLoading: '{{STATIC_URL}}images/lightbox-ico-loading.gif',
                                imageBtnPrev: '{{STATIC_URL}}images/lightbox-btn-prev.gif',
                                imageBtnNext: '{{STATIC_URL}}images/lightbox-btn-next.gif',
                                imageBtnClose: '{{STATIC_URL}}images/lightbox-btn-close.gif',
                                imageBlank: '{{STATIC_URL}}images/lightbox-blank.gif'});});
});
})(jQuery);
</script>
{% endblock %}


{% block content %}

<div id="about" class="row">
  <div class="span8">
          <h2> Более подробно о нашем бизнесе</h2>
          <p> как вы знаете, наша компания уже годами работает на рынке</p>
   </div>
</div>

<div class="row-fluid">
<ul class="thumbnails">
  {% for brand in brands %}
    <li class="span6">
      <div class="thumbnail">
        <img data-src="holder.js/300x200" class="img-rounded" alt="" src = "{{ MEDIA_URL }}{{brand.infoimage_set.all.0.thumbnail}}">
        <div class="caption">
            <h4> {{ brand.title }} </h4>
            <p>{{ brand.short_description }}</p>
            <ul>
              {% for prod_cat in product_categorys %}
                 <li>  <a href="{% url paged_product brand_id=brand.id prod=prod_cat.id %}">{{ prod_cat.title }} </a></li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
</div>

{% endblock %}
