{% extends "base.html" %}
{% load i18n  %}
{% block content %}


<div id="contacts">

      <h2> {% trans "Contacts" %} </h2>
  <div id="make_order">
	<p>
	 <a href="/order" class="btn btn-primary"><i class="icon-pencil icon-white"></i>{% trans " Online Order" %}</a>	
	</p>
  </div>

      {% for item in contacts %}
        <h3>{{ item.contact.address_type }}</h3>
        <h5  class="text-success">{{ item.contact.title }}</h5>
        {% trans "Phone:" %}  {{ item.contact.phone }} </br>
        {% trans "Fax:" %} {{ item.contact.fax }} </br>
        {% trans "Adress:" %}
        <address>{{ item.contact.address }}</address>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ua/maps?hl=uk&amp;ie=UTF8&amp;ll={{item.latitude}},{{item.longitude}}&amp;spn=0.0035,0.01&amp;t=m&amp;z=17&amp;output=embed">
        </iframe>
        <br />
        <small>
          <a href="https://maps.google.com.ua/maps?hl=uk&amp;ie=UTF8&amp;ll={{item.latitude}},{{item.longitude}}&amp;spn=0.007,0.02&amp;t=m&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">
            Переглянути більшу мапу
          </a>
        </small>

      {% endfor %}
</br>

<div id="feedback">
    {% if need_form %}
<div id="feedback">
<h2> {% trans "Please leave feedback" %} </h2>
<form action="/contacts/" method="post">
  {% csrf_token %}

{{ form.as_p }}


<input type="submit" value="Submit" />
</form>
    {% else %}
    <h2>  {% trans "Thanks for your feedback"%}</h2>
    {% endif%}

</div>
</div>
{% endblock %}


