{% extends "base.html" %}
{% load i18n  %}
{% block content %}

<div id="contacts">
        
      <h2> {% trans "Contacts" %} </h2>
      {% for item in contacts %}
        <h3>{{ item.type.title }}</h3>
        <h5  class="text-success">{{ item.title }}</h5>
        {% trans "Adress:" %} 
        <address>{{ item.description }}</address>
        
      {% endfor %}
</br>
    {% if need_form %}

<h2> {% trans "Please leave feedback" %} </h2>
<form action="/contacts/" method="post">
	{% csrf_token %}

{{ form.as_p }}           


<input type="submit" value="Submit" />
</form>
    {% else %}
    <h2>  {% trans "Thanks for your feedback"%}</h2>
    {% endif%}
       
</div>
{% endblock %}


