{% extends "base.html" %}
{% load i18n  %}

{% block tabs %}

  <div "tabs" style="float: left;width: 150px">
    <ul class="nav nav-list">
      <li class="nav-header">{% trans "Useful information" %}</li>
    {% for item in categorys %}
     <li {% if customer_item == item.id  %}class="active"{% endif %}>
        <a href="{% url paged_customer select=item.id %}">{{ item.title }} </a></li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block content %}
  <div>
    {% if not need_url %}
      {% for info_item in context %}
        {% include "info_row.html" %}
           <div class="span8 offset8">
               <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
    	js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    	</script>
           </span></div>

      {% endfor %}
    <div>
     <ul class="pager">
      {% if context.has_previous %}
        <li class="previous">
          <a href="?page={{ context.previous_page_number }}">{% trans "Previous" %}</a>
        </li>
      {% endif %}
      <li class="active"><span>Страница {{ context.number }} из {{ context.paginator.num_pages }}</span></li>
      {% if context.has_next %}
        <li class="next">
          <a href="?page={{ context.next_page_number }}">{% trans "Next" %}</a>
        </li>
      {% endif %}
     </ul>
    </div>
    
    
    {% else %}
      
        {% for info_item in categorys %}
          {% include "info_row.html" with info=brand urled_page="custom_title.html"%}
        {% endfor%}
      
    {% endif %}
  </div>
{% endblock %}


