<div class="row">
<div class="accordion" id="accordion2">
  {% if info_item.info_image %}
    <div class="span2">
      <ul class="thumbnails" id="image_{{info_item.id}}">
        {% for image_info in info_item.infoimage_set.all %}
          <li class={% if forloop.first %}"span2"{% else %}"span1"{% endif %}>
            <a class="thumbnail" href="{{ MEDIA_URL }}{{image_info.image}}">
                <img data-src="holder.js/300x200" class="img-rounded" alt="" src = '{{ MEDIA_URL }}{{image_info.thumbnail}}'>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  <div class="span6">
  {% else %}
  <div class="span8">
  {% endif %}
    {% comment %}
    {% if need_url %}
       <a href="{% url paged_product brand_id=info_item.id %}"> <h3>{{ info_item.title }}</h3> </a>
    {% else %}
        
    <h3>{{ info_item.title }}</h3>
    {% endif %}
    {% endcomment%}
    <h3>{{ info_item.title }}</h3>
    <h4>{{ info_item.brand }}</h4>


<div class="accordion-group">
  <div class="accordion-heading">
   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    <p>{{ info_item.description|truncatewords_html:10  }}</p>
</a>
</div>
<div id="collapseOne" class="accordion-body">
<div class="accordion-inner">
{{ info_item.description }}
</div>
</div>


    {% block extra_info_details %}
    {% endblock extra_info_details %}
  </div>
</div>
</div>

