
<div id = "TradeMark" class="row">           
    <div class="span8">
       <a href="{% url paged_product brand_id=info.id %}"><h4> {{ info.title }} </h4> </a></li> 
     <div class="span2">
     <p> 	{{ info.description }}	</p>
   </div> 
          	
       {% if info.info_image %}
          <ul class="thumbnails" id="image_{{prod.id}}">
              {% for image_info in info.infoimage_set.all %}

                <li class={% if forloop.first %}"span2"{% else %}"span1"{% endif %}>
                  <a class="thumbnail" href="{{ MEDIA_URL }}{{image_info.image}}">
                      <img data-src="holder.js/300x200" class="img-rounded" alt="" src = '{{ MEDIA_URL }}{{image_info.thumbnail}}'>
                  </a>
                </li>
              {% endfor %}
       {% endif %}
    
    </div>
</div>
