{% extends "base.html" %}
{% load i18n  %}
{% block content %}

<div id="news">

      <h2> {% trans "News" %} </h2>
      {% for new in News %}
      <div class="row-fluid">
        {% if new.info_image %}
        <div class="span2">
            <img data-src="holder.js/300x200" class="img-rounded" alt="" src = '{{ MEDIA_URL }}{{new.info_image.thumbnail}}'>
        </div>
        {% endif %}
          
          <div class="row">
           <div class="span8 offset8"><span class="label">{{ new.date }}</span></div>
           </div>
          <h4>{{ new.title }}</h4>
           {{ new.description|linebreaks }}
           <div class="span8 offset8">
               <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
    	js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    	</script>
           </span></div>
        </br>
       </div>
      {% endfor %}

    <div>
       <ul class="pager">
        {% if News.has_previous %}
          <li class="previous">
          <a href="?page={{ News.previous_page_number }}">{% trans "Previous" %}</a>
          </li>

        {% endif %}

        <li class="active"><span>Страница {{ News.number }} из {{ News.paginator.num_pages }}</span></li>

        {% if News.has_next %}
        <li class="next">
        <a href="?page={{ News.next_page_number }}">{% trans "Next" %}</a>
        </li>

        {% endif %}

    </div>
{% endblock %}


