{% extends "navs_bar.html" %}
{% load i18n  %}
{% block content %}

<div id="news">
        
        <table class="table table-striped">
        <tr><td><h2> Новости нашего городка </h2></td></tr>
        {% for new in News %}
            <tr>
            	<td>
            		<h3>{{ new.date }}</h3>
            		<p  class="text-success">{{ new.title }}</p>
            		<p>{{ new.description }}</p>
    	    </td>
    	    </tr>
        {% endfor %}
<tr><td>
    
    <div class="pagination">
       <ul>
        {% if News.has_previous %}
          <li class="previous">
          <a href="?page={{ News.previous_page_number }}">{% trans "Previous" %}</a>
          </li>
        
        {% endif %}
        
        <li class="active"><span>Страница {{ News.number }} из {{ News.paginator.num_pages }}</span></li>  
        
        {% if News.has_next %}
        <li class="next">
        <a href="?page={{ News.next_page_number }}">{% trans "Next" %}</a>
        </li>
        
        {% endif %}  
        
    </div>
{% endblock %}

	
