{% extends "base.html" %}
{% load i18n  %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='{{STATIC_URL}}js/fullcalendar/jquery-1.8.1.min.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}js/fullcalendar/jquery-ui-1.8.23.custom.min.js'></script>
<script type='text/javascript' src='{{STATIC_URL}}js/fullcalendar/fullcalendar.min.js'></script>
<script type='text/javascript'>

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		

		var calendar = $('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
				var name = prompt('Enter your name:');
				if (name) {
					$("input[name='name']").val(name);
					$("input[name='start']").val(start.getDate()+'/'+start.getMonth()+'/'+start.getFullYear());
                    $("input[name='end']").val(end.getDate()+'/'+end.getMonth()+'/'+end.getFullYear());
					
					
				}
				calendar.fullCalendar('unselect');
			},

			editable: false,
			events: [
				{% for avail in avail_date %}
				{
					title: '{{avail.name}}',
					start: new Date({{avail.start|date:'Y'}}, {{avail.start|date:'m'|add:"-1"}}, {{avail.start|date:'d'}}),
					end:  new  Date({{avail.start|date:'Y'}}, {{avail.end|date:'m'|add:"-1"}}, {{avail.end|date:'d'}})
				
				},
				{% endfor %}
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 0),
					end: new Date(y, m, d, 14, 0),
					allDay: false
				},
				{
					title: 'Click for Home',
					start: new Date(y, m, 28),
					end: new Date(y, m, 29),
					url: '/'
				}
			]
		});
		
	});

</script>

{% endblock %}

{% block content %}
<center><h2> {% trans "Please make your order" %}</h2> </center>
<br>

<div id='calendar_cont' class="row">
  <div class="span6">
   <div id='calendar'>
   </div>	
  </div>
  <div class="span2">
   <h4> {% trans "Desired time:" %}</h4>
     <form action="" method="post">
       {% csrf_token %}
   <div class="field">
           <label for="name">{% trans "Your name:" %}</label>
           <input type="text" name ="name" id="name" />
           <label for="start">{% trans "Begin (dd/mm/yyyy)" %}</label>
           <input type="text" name ="start" id="start" />
           <label for="end">{% trans "End day (dd/mm/yyyy)" %}</label>
           <input type="text" name ="end" id="end" />

   </div>
   <input type="submit" value="Заказать">
	
  </div>
  
</div>



{% endblock %}


