{% extends "base.html" %}
{% load i18n  %}

{% block extra_head %}
{% endblock %}

{% block tabs %}
    <ul class="nav nav-pills nav-stacked">

     {% for brand in brands %}
    <li class="nav-header">{{ brand.title }}</li>
       {% for prod_cat in product_categorys %}
     <li {% if prod_item == brand.id  %} {% if prodcat_item == prod_cat.id  %} class="active"{% endif %} {% endif %}>
             <a href="{% url paged_product brand_id=brand.id prod=prod_cat.id %}">{{ prod_cat.title }} </a></li>
       {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<div id="products">
  {% if products.count > 0 %}
    {% for info_item in products %}
      {% include "product_row.html" %}
    {% endfor %}
  {% else %}
    {% if prodcat_item > 0 %}
      <h3>{% trans "We don't have any goods in this category" %}</h3>
    {% else %}
      {% for info_item in brands %}
        {% include "info_row.html" with info=brand  urled_page="brand_title.html"%}
      {% endfor%}
    {% endif %}
  {% endif %}
</div>
{% endblock %}
