{% extends "base.html" %}
{% load i18n  %}

{% block tabs %}
    <ul class="nav nav-pills nav-stacked">

     {% for brand in brands %}
    <li class="nav-header">{{ brand.title }}</li>
       {% for prod_cat in product_categorys %}
     <li {% if prod_item == brand.id  %} {% if prodcat_item == prod_cat.id  %} class="active"{% endif %} {% endif %}>
             <a href="{% url paged_product brand_id=brand.id prod=prod_cat.id %}">{{ prod_cat.title }} </a></li>
       {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}



<div id="products">

      {% if products|length > 0 %}
      {% for prod in products %}
        <div class="row">
          <div class="span2">
            <ul class="thumbnails">
              <li class="span2">
                <a class="thumbnail" href="{{ MEDIA_URL }}{{prod.brand.image}}">
                  <img data-src="holder.js/300x200" alt="" src = '{{ MEDIA_URL }}{{prod.brand.image_tumboral}}'>
                </a>
              </li>
            </ul>
          </div>
          <div class="span6">
            <h3>{{ prod.title }}</h3>
            <h4>{{ prod.brand }}</h4>
            <p>{{ prod.description }}</p>
            <table  class="table table-bordered table-condensed">
              <thead>
                <th>{% trans "Name of Tara" %}</th>
                <th>{% trans "Capacity" %}</th>
                <th>{% trans "How many in box" %}</th>
              </thead>
              <tr>
                <td>{{ prod.tare.name }}</td>
                <td>{{ prod.tare.capacity }}</td>
                <td>{{ prod.tare.in_box }}</td>
              </tr>
            </table>
            <p>{% trans "Store condition:" %} {{ prod.storagecondition }}</p>
          </div>
        </div>
      {% endfor %}

      {% else %}
          {% if prodcat_item > 0 %}
            <h3></h3>
            <p>{% trans "We don't have any goods in this category" %} </p>
          {% else %}
            <h3></h3>
            <p>{% trans "Please select category" %} </p>

          {% endif %}
      {% endif %}


    </div>
{% endblock %}


